### Environment
.env

### Confluent Hub
confluentinc/confluent-hub-client/*
!confluentinc/confluent-hub-client/README.md

### Confluent Connector
confluentinc/confluent-hub-components/*
!confluentinc/confluent-hub-components/README.md

### Confluent Folder
confluentinc/*/*/data
confluentinc/*/*/log

### Debezium Folder
debezium/*/*/data

### Database Folder
database/*/*/data

### Sonarqube Folder
sonarqube/*/data
sonarqube/*/extensions
sonarqube/*/logs